/* ========== COMPONENTS ========= */
.container {
    width: 1200px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ========== /COMPONENTS ========= */
/* ========= HEADER ========= */
.header-line {
    gap: 200px;
}

.header-logo {
    margin-right: 31px;
}

.header-list {
    margin-left: 100px;
    gap: 30px;
}

.header-contact {
    margin-left: 0;
    margin-right: 17px;
    gap: 43px;
}

/* ========= /HEADER ========= */
/* ============= HERO ============ */
.hero-left-side {
    width: 100px;
}

.hero-right-side {
    padding-bottom: 208px;

    background-image: var(--hero-gradient), url('../images/img-desktop/slider-desktop3.jpg');
}

.hero-title {
    font-size: 72px;
    line-height: calc(85/72);
}

/* ============= /HERO ============ */