:root {
    --primary-font: 'Open Sans',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --primary-text-color-theme-dark: #9DA4BD;
    --primary-text-color-theme-light: #303030;
    --secondary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-light: #555555;
    --main-btn-color: #FFFFFF;
    --color-accent: #FF6C00;
    --color-suptitle-theme-dark: rgba(157, 164, 189, 0.6);
    --bgcolor-main: #FFFFFF;
    --bgcolor-dark: #111319;
    --color-main-btn: #FFFFFF;
    --color-section-dark: #191C26;
    --additional-section-color: #F7F7F7;
    --gap: 30px;
    --hero-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
    --prices-list-gradient-left: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    --prices-list-gradient-right: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

/* Сброс маркеров для списков */
.list {
    list-style: none;
}

/* Сброс маркеров для ссылок*/
.link {
    text-decoration: none;
}

/* Сброс */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    /* font-family: inherit; 
    прописан а нормалайзе*/
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ========== COMPONENTS ========= */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.modal-btn {
    min-width: 160px;
    height: 40px;

    background-color: transparent;
    color: var(--main-btn-color);

    border: 1px solid var(--color-accent);
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.modal-btn:is(:hover, :focus) {
    background-color: var(--color-accent);
    color: var(--color-main-btn);
}

.media-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-light);
}

.media-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.suptitle::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;

    /* display: inline-block;
    vertical-align: middle;
    margin-right: 20px; */
}

.suptitle-theme-dark {
    color: var(--color-suptitle-theme-dark);
}

.suptitle-theme-light {
    color: var(--primary-text-color-theme-light);
}

.section-title {
    font-family: var(--secondary-font);
    /* font-weight: 700; 
    У заголовка H2 700 по умолчанию*/
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
}

.section-title-theme-dark {
    color: var(--secondary-text-color-theme-dark);
    margin-bottom: 44px;
}

.section-title-theme-light {
    color: var(--primary-text-color-theme-light);
    margin-bottom: 20px;
}

.section-descr {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

/* ========== /COMPONENTS ========= */

body {
    font-family: var(--primary-font);
    background-color: var(--bgcolor-main);
    color: var(--secondary-text-color-theme-light);
}

/* ========= HEADER ========= */
.header {
    padding-top: 32px;
    padding-bottom: 32px;

    position: absolute;
    width: 100%;
    /* left: 0;
    right: 0; */
    z-index: 1;
}

.header-line {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 31px;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 17px;
    gap: 43px;
}

.header-list {
    margin-left: 100px;
    display: flex;
    gap: 30px;
}

/* .header-item:not(:last-child) {
    margin-right: 30px;
} */

.header-link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);
}

.header-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.header-tel {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);
}

.header-tel:is(:hover, :focus) {
    color: var(--color-accent);
}

/* Состояние активного элемента */
.current {
    color: var(--color-accent);
}

/* =========== /HEADER =========== */

/* ============= HERO ============ */
.hero {
    position: relative;
}

.hero-line {
    display: flex;
}

.hero-left-side {
    /* Как правильно оформить ссылки? */
    width: 100px;

    display: flex;
    flex-direction: column-reverse;
}

.media-list {
    display: flex;
    align-items: center;
}

.media-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 40px;
}

.tophead {
    position: absolute;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;

    padding-top: 27px;
    padding-bottom: 40px;
}

.media-item:not(:last-child) {
    margin-right: 40px;
}

.hero-right-side {
    padding: 272px 100px 208px;

    background-image: var(--hero-gradient), url('../images/slider-img3.jpg');
    background-size: cover;

    flex-grow: 1;

    background-color: #303030;
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-size: 72px;
    line-height: calc(85/72);
    letter-spacing: 0.05em;
    color: var(--secondary-text-color-theme-dark);
}

.hero-text {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

/* ============= /HERO ============ */

/* ============ ABOUT =========== */
.about-wrap {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    gap: 30px;
}

.about-img {
    display: block;
}

.about-info-wrap {
    padding-right: 100px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    flex-grow: 1;
}

.about-title {
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
    color: var(--primary-text-color-theme-light);
}

.about-text {
    margin-bottom: 42px;
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.02em;
}

.about-btn {
    color: var(--primary-text-color-theme-light);
}

/* ============ /ABOUT ========== */

/* =========== PRICES ========== */
.prices {
    background-color: var(--bgcolor-dark);
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../images/services-prices.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prices-list-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.prices-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 22px 30px 20px;
}

.prices-list:first-child {
    background-image: var(--prices-list-gradient-left);
}

.prices-list:last-child {
    background-image: var(--prices-list-gradient-right);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
}

.prices-item::before {
    content: '';
    width: 100px;
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.12);
}

.prices-item-content:first-child {
    order: -1;
}

.prices-item+.prices-item {
    margin-top: 20px;
}

.prices-item-content {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

.prices-btn {
    display: block;
    margin: 0 auto;
}

/* ========== /PRICES ============ */

/* ========== BENEFITS =========== */
.benefits-wrap {
    display: flex;
    padding-left: 69px;
    padding-right: 101px;
    gap: 130px;
}

.benefits-info-wrap {
    padding-top: 9px;
}

.benefits-list {
    width: 370px;

    display: flex;
    flex-wrap: wrap;

    flex-shrink: 0;
}

.benefits-item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;

    background-color: var(--additional-section-color);
}

.benefits-item:nth-child(odd) {
    margin-right: 30px;
}

.benefits-item:nth-child(even) {
    margin-top: 30px;
}

.benefits-item .count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    letter-spacing: 0.05em;
    color: var(--primary-text-color-theme-light);
    display: block;
    margin-bottom: 6px;
}

.benefits-item .count::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22/16);
    text-align: center;
    color: transparent;
    vertical-align: top;
    text-shadow: 1px 7px #ff6c00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    color: var(--primary-text-color-theme-light);
}

.benefits .section-descr {
    margin-bottom: 0;
}

/* ========== /BENEFITS ========== */

/* =========== BARBERS =========  */
.barbers {
    background-color: var(--additional-section-color);
}

.barbers-main-title {
    margin-bottom: 44px;
}

.barbers-title {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: calc(25/18);
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-light);
}

.barbers-item-content-wrapper {
    padding-top: 30px;
}

.barbers-descr {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: calc(19/14);
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.barbers-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}

.barbers-item {
    flex-basis: calc((100% - 60px) / 3);
}

.barbers .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers .social-list-item {
    width: 44px;
    height: 44px;
}

.barbers .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--secondary-text-color-theme-dark);
    color: var(--primary-text-color-theme-light);
}

.barbers .social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.barbers .social-list-link:is(:hover, :focus) {
    background-color: var(--primary-text-color-theme-light);
}

.barbers .social-list-link:is(:hover, :focus) .social-list-icon {
    fill: var(--color-accent);
}

/* =========== /BARBERS =========  */
/* =========== GALLERY =========== */
.gallery .suptitle {
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* column-gap: var(--gap);
    row-gap: calc(var(--gap) * 2); */
}

.gallery-item {
    flex-basis: calc((100% - 90px) / 4);
}

/* =========== /GALLERY =========== */

/* S T O P */

/* ====== BOOKING-CONTACTS =======  */
.booking-contacts {
    background-color: var(--color-section-dark);
}

.booking-contacts-line {
    display: flex;
}

.booking {
    max-width: 600px;
    padding-top: 130px;
    padding-bottom: 183px;
}

.booking-form-name {
    display: flex;
    gap: var(--gap);
    margin-bottom: 44px;
}

.form-input-data,
.form-input-text {
    width: 270px;
    padding-bottom: 8px;

    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--color-suptitle-theme-dark);
    background-color: var(--color-section-dark);
    border: none;
    border-bottom: 1px solid var(--color-suptitle-theme-dark);
    cursor: pointer;
}

.form-input-text {
    width: 570px;
    height: 76px;
    margin-bottom: 44px;
    margin-right: 30px;
    resize: none;
}

.form-input-data:is(:hover, :focus),
.form-input-text:is(:hover, :focus) {
    border-bottom: 1px solid var(--color-main-btn);
}

.form-input-data:hover::placeholder,
.form-input-data:focus::placeholder {
    color: var(--color-main-btn);
    padding-bottom: 8px;
}

input[type="submit"] {
    cursor: pointer;
}

.form-input-text:hover::placeholder,
.form-input-text:focus::placeholder,
.form-input-text:hover,
.form-input-text:focus {
    color: var(--color-main-btn);
}

.contacts {
    width: 570px;
    padding: 130px 200px 120px 100px;
}

.map {
    font-weight: 700;
}

.contacts-main-title {
    margin-bottom: 40px;
}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-list {
    margin-bottom: 70px;
}

.contacts-link {
    /* font-style: normal; */
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark)
}

/* ======= BOOKING-CONTACTS =====  */
/* =========== FOOTER =========  */
.footer {
    padding: 56px 0;
}

.footer-line {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-dark);
}

.contacts-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.contacts-time {
    color: var(--secondary-text-color-theme-dark);
}

.contacts-work-time {
    width: 249px;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

/* =========== /FOOTER =========  */