/* ========== COMPONENTS ========= */
.container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (max-width: 479px) {
    .container {
        width: 100%;
    }
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
}

.modal-btn {
    min-width: 160px;
    height: 40px;

    background-color: transparent;
    color: var(--main-btn-color);

    border: 1px solid var(--color-accent);
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.modal-btn:is(:hover, :focus) {
    background-color: var(--color-accent);
    color: var(--color-main-btn);
}

.media-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-light);

    transition: color var(--transition-dur-and-func);
}

.media-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.suptitle::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

@media screen and (max-width: 767px) {

    .hero .suptitle {
        letter-spacing: 0.1em;
    }
}

.suptitle-theme-dark {
    color: var(--color-suptitle-theme-dark);
}

.suptitle-theme-light {
    color: var(--primary-text-color-theme-light);
}

.section-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49/42);
    letter-spacing: 0.05em;
}

.section-title-theme-dark {
    color: var(--secondary-text-color-theme-dark);
    margin-bottom: 44px;
}

.section-title-theme-light {
    color: var(--primary-text-color-theme-light);
    margin-bottom: 20px;
}

.section-descr {
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.anime-wave:is(:hover, :focus) {
    animation: swing 70ms ease-in-out 3 forwards;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ========== /COMPONENTS ========= */

body {
    font-family: var(--primary-font);
    background-color: var(--bgcolor-main);
    color: var(--secondary-text-color-theme-light);
}

/* ========= HEADER ========= */
.header {
    position: absolute;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 15px;
}

.header-logo-img {
    fill: #fff;
}

.mobile-menu-open {
    margin-right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.mobile-menu__open-icon {
    display: block;
    fill: #fff;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 17px;
    gap: 43px;
}

.header-link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);

    transition: color var(--transition-dur-and-func);
}

.header-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.header-tel {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);

    transition: color var(--transition-dur-and-func);
}

.header-tel:is(:hover, :focus) {
    color: var(--color-accent);
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 900;

    background-color: #fff;

    transform: translateX(100%);
    transition: var(--transition-dur-and-func);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__container {
    position: relative;
    padding-top: 118px;
    padding-left: 40px;
    padding-bottom: 227px;
    padding-right: 68px;
}

.mobile-menu__close-button {
    position: absolute;
    top: 59px;
    right: 36px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-list {
    margin-bottom: 64px;
}

.mobile-menu-link {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25/18);
    letter-spacing: 0.1em;

    color: var(--primary-text-color-theme-light);

    transition: var(--transition-dur-and-func);
}

.mobile-menu-tel {
    display: block;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;

    color: var(--primary-text-color-theme-light);

    transition: var(--transition-dur-and-func);
}

.mobile-menu-btn {
    min-width: 194px;
    margin-bottom: 64px;

    color: var(--primary-text-color-theme-light);
}

.mobile-menu .media-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 92px;
    margin-left: 100px;
}

.mobile-menu .media-list::before {
    text-align: center;
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    top: 11px;
    left: -100px;
    background-color: currentColor;
}

.mobile-menu .media-link {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19/14);
    letter-spacing: 0.2em;

    color: var(--primary-text-color-theme-light);
}

.mobile-menu-link:focus,
.mobile-menu-tel:focus,
.mobile-menu .media-link:focus {
    color: var(--color-accent);
}

/* Состояние активного элемента */
.current {
    color: var(--color-accent);
}

@media screen and (max-width: 1199px) {
    .header-tel {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .header-contact,
    .header-list,
    .hero-slider-nav {
        display: none;
    }
}

/* =========== /HEADER =========== */

/* ============= HERO ============ */
.hero-left-side {
    display: none;
}

.hero-right-side {
    padding: 208px 31px 209px;

    background-image: var(--hero-gradient), url('../images/img-mobile/slider-mobile3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-text-color-theme-light);
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 48px;
    line-height: calc(56/48);
    letter-spacing: 0.05em;
    color: var(--secondary-text-color-theme-dark);
}

.hero-text {
    max-width: 321px;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

@media screen and (max-width: 479px) {
    .suptitle {
        font-size: 2vw;
    }

    .hero-title {
        font-size: 10vw;
    }

    .hero-text {
        font-size: 3vw;
    }

    .mobile-menu-link,
    .mobile-menu-tel {
        font-size: 4vw;
    }
}

/* ============= /HERO ============ */

/* ============ ABOUT =========== */
@media screen and (max-width: 767px) {
    .about-list {
        display: none;
    }
}

.about-title {
    width: 306px;

    font-size: 28px;
    line-height: calc(33/28);
}

.about-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.02em;
}

.about-btn {
    color: var(--primary-text-color-theme-light);
}

/* ============ /ABOUT ========== */
/* =========== PRICES ========== */
.prices {
    background-color: var(--bgcolor-dark);
    max-width: 480px;
    margin: 0 auto;
    background-image: url(../images/img-mobile/services-prices-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.prices-list {
    width: 100%;
    padding: 30px 11px;
}

.prices-list:first-child {
    padding-bottom: 0;
}

.prices-list:last-child {
    padding-top: 0;
    margin-top: 20px;
}

.prices-list-wrap {
    margin-bottom: 44px;
    background-image: var(--prices-list-gradient-left);
}

.prices-title {
    font-size: 40px;
    line-height: calc(47/40);
}

.prices-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
}

.prices-item::before {
    content: '';
    width: 100px;
    height: 1px;
    flex-grow: 1;
    background-color: rgba(157, 164, 189, 0.12);
}

.prices-item-content:first-child {
    order: -1;
}

.prices-item+.prices-item {
    margin-top: 20px;
}

.prices-item-content {
    text-align: left;
    font-size: 14px;
    line-height: calc(20/14);
    color: var(--primary-text-color-theme-dark);
}

.prices-btn {
    display: block;
    margin: 0 auto;
}

/* ========== /PRICES ============ */
/* ========== BENEFITS =========== */
.benefits-wrap {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.benefits-info-wrap {
    order: -1;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;

    flex-shrink: 0;
}

.benefits-item {
    width: 193px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;

    background-color: var(--additional-section-color);
}

.benefits-item:nth-child(odd) {
    margin-right: 30px;
}

.benefits-item:nth-child(even) {
    margin-top: 30px;
}

.benefits-item .count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    letter-spacing: 0.05em;
    color: var(--primary-text-color-theme-light);
    display: block;
    margin-bottom: 6px;
}

.benefits-item .count::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22/16);
    text-align: center;
    color: transparent;
    vertical-align: top;
    text-shadow: 1px 7px #ff6c00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    color: var(--primary-text-color-theme-light);
}

.benefits .section-descr {
    margin-bottom: 0;
}

.benefits-text {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
    .benefits-list {
        flex-direction: column;
        margin: 0 auto;

    }

    .benefits-item:nth-child(odd) {
        margin-right: 0;
    }

    .benefits-item:nth-child(even) {
        margin-top: 0;
    }

    .benefits-item+.benefits-item {
        margin-top: 30px;
    }
}

/* ========== /BENEFITS ========== */
/* =========== BARBERS =========  */
.barbers {
    background-color: var(--additional-section-color);
}

.barbers-main-title {
    margin-bottom: 44px;
}

.barbers-title {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: calc(25/18);
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-light);
}

.barbers-item-content-wrapper {
    padding-top: 30px;
}

.barbers-descr {
    margin-bottom: 30px;

    font-size: 14px;
    line-height: calc(19/14);
    letter-spacing: 0.02em;
    color: var(--color-accent);
}

.barbers-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.barbers-item {
    flex-basis: 100%;
}

.barbers .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers .social-list-item {
    width: 44px;
    height: 44px;
}

.barbers .social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--secondary-text-color-theme-dark);
    color: var(--primary-text-color-theme-light);

    transition: background-color var(--transition-dur-and-func);
}

.barbers .social-list-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

    transition: fill var(--transition-dur-and-func);
}

.barbers .social-list-link:is(:hover, :focus) {
    background-color: var(--primary-text-color-theme-light);
}

.barbers .social-list-link:is(:hover, :focus) .social-list-icon {
    fill: var(--color-accent);
}

/* =========== /BARBERS =========  */
/* =========== GALLERY =========== */
.gallery .suptitle {
    margin-bottom: 71px;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery-item {
    flex-basis: 100%;
}

/* =========== /GALLERY =========== */
/* ========= BOOKING =============  */

.booking-contacts {
    background-color: var(--color-section-dark);
}

.booking {
    padding: 84px 31px;
}

.title-booking {
    text-align: center;
}

.online-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.online-field {
    width: 100%;
    position: relative;
}

.online-item {
    background-color: transparent;
    border: none;

    color: var(--color-suptitle-theme-dark);
    border-bottom: 1px solid var(--color-suptitle-theme-dark);
    outline: transparent;

    transition: border-color var(--transition-dur-and-func);
}

.online-item:focus,
.online-item:not(:placeholder-shown) {
    border-color: #ffffff;
    color: #ffffff;
}

.online-item:focus+.online-label,
.online-item:not(:placeholder-shown)+.online-label {
    color: #ffffff;
    transform: translateY(-100%);
}

.online-input {
    width: inherit;
    height: 24px;
    margin-bottom: 44px;
}

.online-label {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: var(--color-suptitle-theme-dark);

    transition: transform var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.online-textarea {
    width: 100%;
    height: 76px;
    margin-bottom: 44px;
    resize: none;
}

.online-btn {
    margin: 0 auto;
}

/* ====== / BOOKING =======  */
/* ======  CONTACTS =======  */
.contacts {
    max-width: 100%;
    padding: 84px 31px;
    background-image: url("../images/img-mobile/contacts-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.map {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    gap: 16px;
}

.tel,
.mail {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 16px;
}

.map::before,
.tel::before,
.mail::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: transform 800ms ease;
}

.map::before {
    background-image: url(../images/map-pin.svg);
    background-repeat: no-repeat;
    margin-top: 6px;
}

.map:hover::before,
.map:focus::before,
.tel:hover::before,
.tel:focus::before,
.mail:hover::before,
.mail:focus::before {
    transform: rotateY(180deg);
}

.tel::before {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
}

.mail::before {
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
}

.contacts-main-title {
    margin-bottom: 40px;
    text-align: center;
}

.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-list {
    margin-bottom: 70px;
}

.contacts-link {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;

    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-dur-and-func);
}

.contacts-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.contacts-time {
    color: var(--secondary-text-color-theme-dark);
}

.contacts-work-time {
    width: 249px;
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

/* ======= / CONTACTS =========  */
/* =========== FOOTER =========  */
.footer {
    padding: 44px 0;
}

.footer-line {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-dark);
}

/* ========= /FOOTER =======  */
/* ====== BUTTON UP ======== */
@media screen and (max-width: 767px) {
    .button-backstart {
        display: none;
    }
}

/* ====== /BUTTON UP ======== */