/* ========== COMPONENTS ========= */
.container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (max-width: 479px) {
    .container {
        width: 100%;
    }
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
}

.modal-btn {
    min-width: 160px;
    height: 40px;

    background-color: transparent;
    color: var(--main-btn-color);

    border: 1px solid var(--color-accent);
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.modal-btn:is(:hover, :focus) {
    background-color: var(--color-accent);
    color: var(--color-main-btn);
}

.media-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-light);

    transition: color var(--transition-dur-and-func);
}

.media-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    text-transform: uppercase;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.suptitle::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

@media screen and (max-width: 767px) {

    .suptitle {
        letter-spacing: 0.1em;
    }
}

.suptitle-theme-dark {
    color: var(--color-suptitle-theme-dark);
}

.suptitle-theme-light {
    color: var(--primary-text-color-theme-light);
}

.section-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    letter-spacing: 0.05em;
}

.section-title-theme-dark {
    color: var(--secondary-text-color-theme-dark);
    margin-bottom: 44px;
}

.section-title-theme-light {
    color: var(--primary-text-color-theme-light);
    margin-bottom: 20px;
}

.section-descr {
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.anime-wave:is(:hover, :focus) {
    animation: swing 70ms ease-in-out 3 forwards;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ========== /COMPONENTS ========= */

body {
    font-family: var(--primary-font);
    background-color: var(--bgcolor-main);
    color: var(--secondary-text-color-theme-light);
}

/* ========= HEADER ========= */
.header {
    position: absolute;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 15px;
}

.header-logo-img {
    fill: #fff;
}

.mobile-menu-open {
    margin-right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.mobile-menu__open-icon {
    display: block;
    fill: #fff;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 17px;
    gap: 43px;
}

.header-link {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);

    transition: color var(--transition-dur-and-func);
}

.header-link:is(:hover, :focus) {
    color: var(--color-accent);
}

.header-tel {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    color: var(--secondary-text-color-theme-dark);

    transition: color var(--transition-dur-and-func);
}

.header-tel:is(:hover, :focus) {
    color: var(--color-accent);
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 900;

    background-color: #fff;

    transform: translateX(100%);
    transition: var(--transition-dur-and-func);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__container {
    position: relative;
    padding-top: 118px;
    padding-left: 40px;
    padding-bottom: 227px;
    padding-right: 68px;
}

.mobile-menu__close-button {
    position: absolute;
    top: 59px;
    right: 36px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-menu-list {
    margin-bottom: 64px;
}

.mobile-menu-link {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25/18);
    letter-spacing: 0.1em;

    color: var(--primary-text-color-theme-light);

    transition: var(--transition-dur-and-func);
}

.mobile-menu-tel {
    display: block;
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.1em;

    color: var(--primary-text-color-theme-light);

    transition: var(--transition-dur-and-func);
}

.mobile-menu-btn {
    min-width: 194px;
    margin-bottom: 64px;

    color: var(--primary-text-color-theme-light);
}

.mobile-menu .media-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 92px;
    margin-left: 100px;
}

.mobile-menu .media-list::before {
    text-align: center;
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    top: 11px;
    left: -100px;
    background-color: currentColor;
}

.mobile-menu .media-link {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19/14);
    letter-spacing: 0.2em;

    color: var(--primary-text-color-theme-light);
}

.mobile-menu-link:focus,
.mobile-menu-tel:focus,
.mobile-menu .media-link:focus {
    color: var(--color-accent);
}

/* Состояние активного элемента */
.current {
    color: var(--color-accent);
}

@media screen and (max-width: 1199px) {
    .header-tel {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .header-contact,
    .header-list,
    .hero-slider-nav {
        display: none;
    }
}

/* =========== /HEADER =========== */

/* ============= HERO ============ */
.hero-left-side {
    display: none;
}

.hero-right-side {
    padding: 208px 31px 209px;

    background-image: var(--hero-gradient), url('../images/img-mobile/slider-mobile3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-text-color-theme-light);
}

.hero-title {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 48px;
    line-height: calc(56/48);
    letter-spacing: 0.05em;
    color: var(--secondary-text-color-theme-dark);
}

.hero-text {
    max-width: 321px;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}

@media screen and (max-width: 479px) {
    .suptitle {
        font-size: 2vw;
    }

    .hero-title {
        font-size: 10vw;
    }

    .hero-text {
        font-size: 3vw;
    }

    .mobile-menu-link,
    .mobile-menu-tel {
        font-size: 4vw;
    }
}

/* ============= /HERO ============ */

/* ============ ABOUT =========== */
@media screen and (max-width: 767px) {
    .about-list {
        display: none;
    }
}

.about-title {
    width: 306px;
}

.about-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26/14);
    letter-spacing: 0.02em;
}

.about-btn {
    color: var(--primary-text-color-theme-light);
}

/* ============ /ABOUT ========== */

/* ======= MODAL WINDOW ===== */
.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--backdrop-bgcolor);

    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    top: 50%;
    left: 50%;
    padding: 20px;


    border-radius: 5px;
    background-color: var(--modal-window-color);
    box-shadow: var(--modal-window-shadow);

    transform: translate(-50%, -50%) translateY(0);
    transition: transform var(--transition-dur-and-func);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) translateY(100%);
}

/* .no-scroll {
    overflow: hidden;
} */

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: border-color var(--transition-dur-and-func);
}

.modal-close:is(:hover, :focus) {
    border-color: var(--color-accent);
}

.modal-close-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: var(--color-accent);
}

.modal-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: 555555px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal-input {
    font-size: 14px;
    width: 100%;
    height: 45px;
    padding-left: 30px;
    padding-right: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 10px;
    ;
    outline: transparent;

    transition: border-color var(--transition-dur-and-func);
}

/* .modal-field:hover .modal-input,
.modal-field:hover .modal-textarea,
.modal-input:hover+.modal-input-icon {
    border-color: var(--color-accent);
    fill: var(--color-accent);
} */

.modal-input:focus,
.modal-input:focus+.modal-input-icon,
.modal-textarea:focus {
    border-color: var(--color-accent);
    fill: var(--color-accent);
}

.modal-input::placeholder,
.modal-textarea::placeholder {
    font-size: 12px;
    color: teal;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(2, 92, 2, 0.452);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(128, 0, 0, 0.212);
}

.error {
    display: none;
    color: red;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid+.error {
    display: block;
}

.modal-label-text {
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
}

.input-wrap {
    position: relative;
}

.modal-input-icon {
    fill: var(--color-section-dark);
    position: absolute;
    left: 5px;
    bottom: 22px;

    transition: fill var(--transition-dur-and-func);
}

.modal-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    border: 1px solid #999999;
    background-color: transparent;
    border-radius: 5px;
    outline: transparent;

    transition: border-color var(--transition-dur-and-func);
}

.form-btn {
    display: block;
    margin: 40px auto 0;
    /* для предыдущих вариантов чекбокса*/
    margin: 15px auto 0;
}

/* START - Вариант чекбокса - иконка в css */

.modal-label-checkbox {
    margin-left: 20px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.modal-checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: var(--modal-window-color);
    border: 1px solid var(--primary-text-color-theme-dark);
    position: absolute;
    top: 50%;

    background-image: url(../images/check-off.svg);
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(-50%);
    transition: background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func);
}

.original-checkbox:checked+.modal-checkbox {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    background-image: url(../images/check-on.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.original-checkbox:focus+.modal-checkbox {
    border-color: var(--color-accent);
}

/* END - Вариант чекбокса - иконка в css */

/* ====================================== */

/* START - Вариант чекбокса - через Before

.modal-field-checkbox {
    margin-top: 10px;
}

.modal-label-checktext::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--primary-text-color-theme-dark);
    display: block;

    background-image: url(../images/check-off.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition: background-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}

.modal-label-checktext {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.modal-label-checktext>a {
    color: teal;

    transition: color var(--transition-dur-and-func);
}

.modal-label-checktext>a:is(:hover, :focus) {
    color: var(--color-accent);
}

.original-checkbox:checked+.modal-label-checktext::before {
    background-color: var(--color-accent);
    border-color: transparent;
    нет разницы между "border: none" и "border-color: transparent" 
background-image: url(../images/check-on.svg);
background-repeat: no-repeat;
background-position: center;
}

.original-checkbox:focus+.modal-label-checktext::before {
    border-color: var(--color-accent);
}
/ END - Вариант чекбокса - через Before
*/

/* START - Вариант чекбокса - через SVG - спрайт */

.modal-label-checktext {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.modal-label-checktext>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--primary-text-color-theme-dark);
    fill: transparent;
    transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}

.original-checkbox:checked+.modal-label-checktext>span {
    background-color: var(--color-accent);
    fill: #F4F4FD;
    border-color: transparent;
}

.original-checkbox:focus+.modal-label-checktext>span {
    border-color: var(--color-accent);
}

.modal-label-checktext>a {
    color: teal;

    transition: color var(--transition-dur-and-func);
}

.modal-label-checktext>a:is(:hover, :focus) {
    color: var(--color-accent);
}

/* END - Вариант чекбокса - через SVG - спрайт */

/* ================================== */
/* СТАРТ Ещё варианты чекбоксов */

/* .modal-label-checktext {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.modal-label-checktext::before {
    content: '';
    width: 40px;
    height: 22px;
    border: 1px solid var(--primary-text-color-theme-dark);
    border-radius: 50px;

    transition: background-color var(--transition-dur-and-func);
}

.modal-label-checktext::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 18px;
    height: 18px;
    background-color: var(--primary-text-color-theme-dark);
    border: 1px solid var(--primary-text-color-theme-dark);
    border-radius: 50%;

    transition: transform var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.original-checkbox:checked+.modal-label-checktext::after {
    transform: translate(18px);
    background-color: #F4F4FD;
}

.original-checkbox:checked+.modal-label-checktext::before {
    background-color: #a5e2a1;
    border-color: transparent;
}

.original-checkbox:focus+.modal-label-checktext::before {
    border-color: var(--color-accent);
} */

/* КОНЕЦ Ещё варианты чекбоксов */