/* ========== COMPONENTS ========= */
.container {
    width: 720px;
}

.mobile-menu-open {
    display: none;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ========== /COMPONENTS ========= */
/* ========= HEADER ========= */
.header-logo {
    margin-right: 39px;
}

.header-logo-img {
    fill: var(--primary-text-color-theme-light);
}

.header-list {
    margin-left: 19px;
    display: flex;
    gap: 20px;
}

.header-contact {
    gap: 0;
    margin-right: 0;
}

/* ========= /HEADER ========= */
/* ============= HERO ============ */
.hero-line {
    display: flex;
}

.hero-left-side {
    width: 116px;

    display: flex;
    align-items: flex-end;

    padding-left: 27px;
    padding-bottom: 40px;
}

.media-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.media-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--primary-text-color-theme-light);
}

.tophead {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
}

.hero-right-side {
    position: relative;
    padding: 272px 100px 237px;

    background-image: var(--hero-gradient), url('../images/img-tablet/slider-tablet3.jpg');

    flex-grow: 1;

}

.hero-text {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30/18);
}

.hero-slider-nav {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.hero-slider-list {
    display: flex;
    gap: 24px;
}

.hero-slider-link {
    position: relative;
    display: block;
    width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;

    color: var(--color-suptitle-theme-dark);
    transition: color var(--transition-dur-and-func);
}

.hero-slider-item:last-child {
    text-align: right;
}

.hero-slider-link::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--color-suptitle-theme-dark);

    transition: background-color var(--transition-dur-and-func);
}

.hero-slider-link:is(:hover, :focus) {
    color: #fff;
}

.hero-slider-link:is(:hover, :focus)::after {
    background-color: #fff;
}

/* ============= /HERO ============ */
/* ============ ABOUT =========== */
.about-wrap {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-info-wrap {
    flex-basis: calc((100% - 3 * 30px) / 3);
    flex-grow: 1;
}

.about-title {
    width: 100%;
}

.about-descr {
    font-size: 18px;
    line-height: calc(30/18);
}

.about-text {
    margin-bottom: 47px;
}