/* ========== COMPONENTS ========= */
.container {
    width: 720px;
}

.mobile-menu-open {
    display: none;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ========== /COMPONENTS ========= */
/* ========= HEADER ========= */
.header-logo {
    margin-right: 39px;
}

.header-logo-img {
    fill: var(--primary-text-color-theme-light);
}

.header-list {
    margin-left: 19px;
    display: flex;
    gap: 30px;
}

/* ========= /HEADER ========= */
/* ============= HERO ============ */
.hero-line {
    display: flex;
}

.hero-left-side {
    width: 116px;

    display: flex;
    align-items: flex-end;

    padding-left: 27px;
    padding-bottom: 40px;
}

.media-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.media-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--primary-text-color-theme-light);
}

.tophead {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
}

.hero-right-side {
    padding: 272px 100px 237px;

    background-image: var(--hero-gradient), url('../images/img-tablet/slider-tablet3.jpg');

    flex-grow: 1;

}

.hero-text {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30/18);
}

/* ============= /HERO ============ */