/* ========== COMPONENTS ========= */
.container {
    width: 720px;
}

.mobile-menu-open {
    display: none;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ========== /COMPONENTS ========= */
/* ========= HEADER ========= */
.header-logo {
    margin-right: 39px;
}

.header-logo-img {
    fill: var(--primary-text-color-theme-light);
}

.header-list {
    margin-left: 19px;
    display: flex;
    gap: 20px;
}

.header-contact {
    gap: 0;
    margin-right: 0;
}

/* ========= /HEADER ========= */
/* ============= HERO ============ */
.hero-line {
    display: flex;
}

.hero-left-side {
    width: 116px;

    display: flex;
    align-items: flex-end;

    padding-left: 27px;
    padding-bottom: 40px;
}

.media-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.media-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--primary-text-color-theme-light);
}

.tophead {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
}

.hero-right-side {
    position: relative;
    padding: 272px 100px 237px;

    background-image: var(--hero-gradient), url('../images/img-tablet/slider-tablet3.jpg');

    flex-grow: 1;

}

.hero-text {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30/18);
}

.hero-slider-nav {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.hero-slider-list {
    display: flex;
    gap: 24px;
}

.hero-slider-link {
    position: relative;
    display: block;
    width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.1em;

    color: var(--color-suptitle-theme-dark);
    transition: color var(--transition-dur-and-func);
}

.hero-slider-item:last-child {
    text-align: right;
}

.hero-slider-link::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--color-suptitle-theme-dark);

    transition: background-color var(--transition-dur-and-func);
}

.hero-slider-link:is(:hover, :focus) {
    color: #fff;
}

.hero-slider-link:is(:hover, :focus)::after {
    background-color: #fff;
}

/* ============= /HERO ============ */
/* ============ ABOUT =========== */
.about-wrap {
    display: flex;
    gap: 30px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-info-wrap {
    flex-basis: calc((100% - 3 * 30px) / 3);
    flex-grow: 1;
}

.about-title {
    width: 100%;
}

.about-descr {
    font-size: 18px;
    line-height: calc(30/18);
}

.about-text {
    width: 330px;
    margin-bottom: 47px;
}

/* ============ /ABOUT =========== */
/* =========== PRICES ========== */
.prices {
    max-width: 768px;
    background-image: url(../images/img-tablet/services-prices-tablet.png);
}

.prices-list {
    padding: 32px 40px;
}

.prices-title {
    font-size: 42px;
    line-height: calc(49/42);
}

.prices-item-content {
    font-size: 18px;
    line-height: calc(30/18);
    letter-spacing: 0.02em;
}


/* ========== /PRICES ======== */
/* ========== BENEFITS =========== */
.benefits-title {
    width: 449px;
}

.benefits-text {
    width: 500px;
}

.benefits-list {
    width: 370px;
    margin-left: auto;
}

.benefits-item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;

    background-color: var(--additional-section-color);
}

.benefits-item:nth-child(odd) {
    margin-right: 30px;
}

.benefits-item:nth-child(even) {
    margin-top: 30px;
}

.benefits-item .count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57/42);
    letter-spacing: 0.05em;
    color: var(--primary-text-color-theme-light);
    display: block;
    margin-bottom: 6px;
}

.benefits-item .count::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: calc(22/16);
    text-align: center;
    color: transparent;
    vertical-align: top;
    text-shadow: 1px 7px #ff6c00;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);

    color: var(--primary-text-color-theme-light);
}

.benefits .section-descr {
    margin-bottom: 0;
}

/* ========== /BENEFITS ========== */

/* =========== BARBERS =========  */
.barbers-main-title,
.barbers-suptitle {
    margin-left: 119px;
}

/* =========== /BARBERS =========  */

/* =========== GALLERY =========== */
.gallery .suptitle {
    margin-bottom: 44px;
}

.gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-item {
    flex-basis: calc((100% - 30px) / 2);
}

/* =========== /GALLERY =========== */
/* ========= BOOKING =============  */
.bc-container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.booking {
    padding-top: 100px;
    padding-bottom: 100px;
}

.title-booking {
    text-align: left;
}

.online-field {
    flex-basis: calc((100% - 30px) / 2);
}

.online-field-text {
    flex-grow: 1;
}

/* ====== / BOOKING =======  */
/* ======  CONTACTS =======  */
.contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/img-tablet/contacts-bg-tablet.png");
}

.contacts-main-title {
    text-align: left;
}

/* .contacts-list {
    margin-bottom: 0;
} */

.address-line {
    display: flex;
    gap: 30px;
}

@media screen and (max-width:1199px) {
    .contacts-list {
        margin-bottom: 0;
        width: 330px;
    }
}

/* ======= / CONTACTS =========  */
/* =========== FOOTER =========  */
.footer {
    padding: 56px 0;
}

.footer-line {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15/11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color-theme-dark);
}

/* ========= /FOOTER =======  */
/* ====== BUTTON UP ======== */
.button-backstart {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    bottom: 50px;
    right: 15px;

    background-color: rgba(255, 106, 0, 0.3);
    color: var(--color-section-dark);

    border: 1px solid var(--color-accent);
    border-radius: 25px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    font-weight: 700;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.09em;
    text-transform: uppercase;

    transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.button-backstart-icon {
    fill: var(--primary-text-color-theme-dark);
}

.button-backstart:is(:hover, :focus),
.button-backstart:is(:hover, :focus) .button-backstart-icon {
    /* background-color: var(--color-accent); */
    fill: var(--color-main-btn);
}

.button-backstart:is(:hover, :focus) .button-backstart-icon {
    animation: turn 120ms ease-in-out 3 forwards;
    fill: var(--color-main-btn);
}


@keyframes turn {
    0% {
        transform: translateY(4px);
    }

    25% {
        transform: translateY(0px);
    }

    56% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ====== /BUTTON UP ======== */